nav{
    height: 60px;
    display: block;
}
.bg-blue{
    box-shadow: 1px 1px 3px #052b4c;
    background-color: #052b4c;
}

.nav-link, .navbar-brand{
    color: white!important;
    font-size: .8em;
}

.nav-link:hover, .navbar-brand:hover{
    color: #ffffffa1!important;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
        float: right;
    }
}
